.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
.signin{
    width:70%;
    background-color: rgb(87, 212, 204);
    text-align: center;
    ;
}
.input-group{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.style{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100px;
    text-align: right;
    margin-right:20px;

}
.radio-group{
    display:flex;
    align-items:left;
    gap:10px;
}